{{> header}}

{{#article}}
<section class="article">
    <header class="article-header">
        <h1 class="article-title">{{article.title}}</h1>
        <p class="article-meta">By <strong>{{article.author}}</strong>, on <strong>{{article.date}}</strong></p>
    </header>

    <div class="article-description">
        {{article.content}}
    </div>
</section>
{{/article}}

{{> footer}}