<!-- pager -->

{{#footer}}
    <section>
        <header class = "footer">
            <h2 class="footer-tools">{{footer.tools}}</h2>
        </header>
        <div class="footer">
            <h3 class="footer-text">
                {{footer.text}}
            </h3>z
        </div>
    </section>
{{/footer}}

</div>

</body>
</html>